body{
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #ff9a9e, #fad0c4);
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Main Container */
.container{
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: rgb(11, 11, 11);
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(219, 97, 97, 0.2);
}

/* Headings */
h1{
    color: #ff4b5c;
}

h2{
    color: #bace53;
}

h3{
    color: #6a5acd;
}

/* Inputs */
input{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #a7cc22;
}

/* Buttons */
button{
    width: 95%;
    padding: 10px;
    background: #ff4b5c;
    border: none;
    color: rgb(238, 5, 5);
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background: #ff1e40;
}

/* Links */
a{
    text-decoration: none;
    color: #ff4b5c;
    font-weight: bold;
}

a:hover{
    color: #6a5acd;
}

/* Result Box */
.result-box{
    background: #080909;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}